extends layout

block nav
    ul.list-inline(data-filter-init=country).mb-1
        each countryGenerators, country in generators
            li.list-inline-item.m-1
                a(href='/' + country, data-filter-target='.generators', data-filter-value=country).btn.btn-outline-info.shadow.shadow-hoverable
                    = flag(country)
                    = ' '
                    = t('country.' + country)
        li.list-inline-item.m-1
            a(href='#support').btn.btn-outline-success.shadow.shadow-hoverable
                = '❤️ '
                = t('support.header')

block content
    .row.grid.generators
        each countryGenerators, country in generators
            each generators, name in countryGenerators
                .col-12.col-lg-6.col-xl-4.grid-item.pb-4(data-filter-value=country)
                    .generator.card.shadow(data-country=country, data-generator=name)
                        .card-body
                            .card-title.d-flex.flex-column.flex-lg-row
                                h2.flex-grow-1.text-nowrap.pr-4
                                    = flag(country)
                                    = ' '
                                    = t(`generator.${country}.${name}.name`)
                                div.text-right
                                    = t(`generator.${country}.${name}.description`)
                            .form-group.has-success
                                .input-group
                                    input.form-control.is-valid.generator-output
                                    .input-group-append
                                        button.btn.btn-outline-secondary.btn-clipboard
                                            span.far.fa-clipboard
                                    .input-group-append
                                        button.btn.btn-outline-primary.btn-generate
                                            span.far.fa-random
                                .feedback
                        div !{includedynamic(`generators/${country}/${name}.pug`)}

    .alert.alert-light.mt-5
        p
            span.far.fa-info-circle
            = ' '
            = t('purpose')
        p
            span.far.fa-info-circle
            = ' '
            = t('clientSide')
        p
            span.far.fa-info-circle
            = ' '
            = t('disclaimer')
            = ' '
            = t('justSpecs')

    #support.alert.alert-light.mt-5
        .row
            .col-12.col-md-4.col-lg-3.py-3
                h2= t('contribute.header')
                p
                    = t('contribute.content')
                ul.list-inline
                    each name in ['gitlab']
                        li.list-inline-item
                            a(href=links[name].href, target='_blank', rel='noopener').btn.btn-success.btn-lg
                                span(class=links[name].icon)
                                = ` ${links[name].text}`
            .col-12.col-md-8.col-lg-9.py-3
                h2= t('support.header')
                p
                    = t('support.content')

                ul.list-inline
                    each name in ['paypal', 'bitcoin']
                        li.list-inline-item
                            a(href=links[name].href, target='_blank', rel='noopener').btn.btn-success.btn-lg
                                span(class=links[name].icon)
                                = ` ${links[name].text}`

    .text-white.mt-5
        h2= t('api.header')
        ul.list-unstyled
            each endpoint, key in apiEndpoints
                li.my-3
                    pre.d-inline-block.mw-100.mb-0
                        code
                            span.badge(class='badge-' + httpMethodColor(endpoint.method)).mr-3= endpoint.method.toUpperCase()
                            = endpoint.url
                    p= t('api.' + key)

    .text-white.mt-5
        h2= t('lib.header')
        pre
            code.
                yarn add avris-generator

        pre
            code.
                const gm = require('avris-generator');

                const pesel = gm.generate('PL', 'pesel', {gender: 'm'});

                try {
                    const data = gm.validate('PL', 'pesel', '12345678900');
                    // valid
                } catch (e) {
                    // invalid
                    alert(e.message);
                }
